.rowxtend, .lastrowxtend {
  display: block;
  padding-top: 2px;
}

.colxtend, .lastcolxtend {
  display: table-cell;
  padding-right: 2px;
  margin: 2px;
}

.lastcolxtend {
  width: 10px;
}

.lastrowxtend {
  height: 10px;
}
.ui-draggable-dragging {
  pointer-events: none;
}

.rowxtend, .colxtend, .lastrowxtend, .lastcolxtend {
  left: 0;
  top: 0;
}

#properties-container, #text-container {
  width: 350px;
}

.property {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin: 0;
  padding: 0;
}

.property-name {  
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  overflow :hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 12px;
}

.property-value {
  width: 200px;
  border-left: 1px solid black;
  padding-left: 5px;
  font-size: 12px;
  height: 20px;
}

.ui-resizable-e {
  right: 3px;
  width: 10px;
}

/*
.colxtend, .rowxtend {
  border: 1px solid;
}
*/