.containerx {
  display: table;
}

.rowxtend {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
}
.colxtend {
  display: table-cell;
  padding-right: 2px;
  margin: 2px;
}

.containerx.rowxtend, .containerx.colxtend {
  display: table;
}

.ui-draggable-dragging {
  pointer-events: none;
}

.rowxtend, .colxtend, .lastrow, .lastcol {
  position: relative;
  left: 0;
  top: 0;
}

.lastcol .handler-wrapper-c, .lastcol .handler-symbol-c {
  position: absolute;
  top: -2px;
  left: -4px;
  width: 8px;
  height: 90%;
}

.handler-wrapper-c, .handler-symbol-c {
  position: absolute;
  height: 100%;
}

.handler-wrapper-c {
  top: -8px;
  left: -12px;
  width: 10px;
  font-size: 15px;
}

.handler-wrapper-c hr {
  display:inline-block;
  top: 2px;
  left: 7px;
  height:100%; 
  position:absolute
}

.handler-symbol-c, .handler-symbol-r {
  display:none;
}

.lastrow .handler-wrapper-r, .lastrow .handler-symbol-r {
  position: absolute;
  top: 0px;
  left: -5px;
  height: 8px;
  width: 100%;
}

.handler-wrapper-r, .handler-symbol-r {
  position: absolute;
  width: 100%;
}

.handler-wrapper-r {
  font-size: 15px;
  top: -8px;
  left: -10px;
  height: 10px;
}

.handler-wrapper-r hr{
  display:inline-block;
  left: 10px;
  width:100%; 
  position:absolute
}

#properties-container, #text-container {
  width: 350px;
}

.property {
  display: flex;
  flex-wrap: wrap;
  height: 30px;
  margin: 0;
  padding: 0;
}
.property-name {  
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  height: 20px;
  /*word-wrap: break-word;*/
  overflow :hidden;
  white-space: nowrap;
  text-overflow: clip;
  font-size: 12px;
}

.property-value {
  width: 200px;
  border-left: 1px solid black;
  padding-left: 5px;
  font-size: 12px;
  height: 20px;
}

.text {
  word-wrap: break-word;
}

.a4 {
  height: 842px;
  width: 595px;
  border: 2px solid;
}


.ui-resizable-e {
  right: 3px;
  width: 10px;
}

/*
.colxtend, .rowxtend {
  border: 1px solid;
}
*/