.page {
    width: 21cm;
    height: 29.7cm;
    padding-right: 9px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    background-color: #fff;
}

.column-left {
    border-right: 1px solid #0098cf;
    padding: 4px;    
    width: 486px;
}

.header {
    background-color: #406A8C;
    padding: 32px;
}

.footer {
    margin-top: 10px;
    color: white;
    background-color: #406A8C;
    padding: 10px;
}

.info-localization {
    padding-left: 30px;
    vertical-align: middle;
}

.info-person {
    vertical-align: middle;
}

.first-name-data, .last-name-data {
    color: white;
    font-size: 18pt;
    line-height: 30px;
    font-weight: bold;
    font-family: 'Arimo';
}
.last-name-data {
    padding-left: 4px;
}

.role-title-data {
    color: #eeeeee;
    font-size: 14pt;
    line-height: 20px;
    font-family: 'Arimo';
    font-weight: 500;
}

.email-data, .address-data, .phone-data {
    color: #e8e9ea;
    font-size: 11pt;
    line-height: 14px;
    font-family: 'Lato';
    font-weight: 500;
    margin: 3px;
}

.email-icon .material-icons, .address-icon .material-icons, .phone-icon .material-icons {
    padding-top: 2px;
    font-size: 11pt;
    color: #e8e9ea;
}

.column-right {
    padding: 4px;
    width: 271px;
}
.forwords {
    padding-top: 10px;
    padding-bottom: 5px;
}

.rowxtend.forwords {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
.forwords-data {
    line-height: normal;
    margin-top: 10px;
    font-style: italic;
    color: #777;
    font-size: 11pt;
    font-family: 'Lato';
    font-weight: 500;
}

.exp {
    padding-top: 4px;
}

.exp-header {
    padding-top: 6px;
}

.exp-header-data {
    color: #0098cf;
    font-size: 13pt;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Arimo', 'Sans-serif';
    font-weight: bold;
    word-wrap: break-word;
}


.comp-header {
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer .comp-header {
    padding-bottom: 0px;
}
.comp-header-data {
    color: #d3f3ff;
    font-size: 13pt;
    line-height: 19px;
    font-weight: 500;
    font-family: 'Arimo', 'Sans-serif';
    font-weight: bold;
    word-wrap: break-word;
}

.exp-role-data {
    color: #000;
    font-weight: 700;
    font-size: 11pt;
    line-height: 14px;
    font-family: 'Arimo', 'Sans-serif';
}

.colxtend.exp-company {
    direction: rtl;
}
.exp-company-data {
    color: #0098cf;
    font-size: 11pt;
    line-height: 14px;
    font-family: 'Lato';
    font-weight: 500;
}

.rowxtend.comp-item {
    padding-top: 1px;
}
.exp-place-data, .exp-from-data, .exp-to-data, .comp-item-value-data {
    font-size: 10pt;
    font-family: 'Titillium Web', 'Monospace';
    font-weight: 500;
}

.comp-item-value-data {
    line-height: 15px;
}
.comp-item-field-data {
    font-size: 10pt;
    line-height: 10px;
    font-family: 'Titillium Web', 'Monospace';
    font-weight: bold;
}

.exp-place-data {
    padding-left: 8px;
}
.exp-description {
    font-family: 'Arimo', 'Sans-serif';
}

.exp-description-data {
    font-size: 11pt;
    font-family: 'Lato';
    font-weight: 500;
}

#css-properties tr {
    border: 1px solid;
}

br {
    display: block;
    margin: 5pt 0;
    content: " ";
}

p {
    margin-block-start: 1px;
    margin-block-end: 1px;

}

#container-extra {
    position: absolute;
}